:root {
  --primary-color: #da1333;
  --light-: #fff;
}

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: Montserrat;
}

/* text styling */
ion-icon {
  font-size: 1.5rem;
}

h1 {
  font-size: 5rem;
  color: var(--primary-color);
  margin-bottom: 4rem;
}

h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 6rem 0 1rem 0;
}

p {
  padding: 0.5rem 0 1rem 0;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
}

nav .logo a {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

button {
  height: 48px;
  width: 148px;
  margin: 1rem 1rem 0 0.75rem;
  border: none;
  background: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

button a {
  padding: 2rem;
}

.primary {
  background: var(--primary-color);
}

.secondary {
  background: var(--light-);
}

.primary.light {
  background: var(--light-);
}

.primary.light a {
  color: var(--primary-color);
}

.secondary a {
  color: var(--primary-color);
}

.secondary.light a {
  color: var(--light-);
}

/* basic styling */
nav {
  padding: 0 4rem;
}

header,
section,
footer {
  padding: 4rem;
}

.flex {
  display: flex;
}

img {
  width: 100%;
}

ion-icon {
  color: var(--primary-color);
}

.newspaper-article {
  height: 100vh;
}

.list ul li {
  font-size: 1rem;
  padding-bottom: 1rem;
  line-height: 1.8;
}

.list ul li b {
  letter-spacing: 1px;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "list map"
    "graph-unemployment graph-unemployment";
  grid-gap: 4rem;
  padding: 4rem 0;
}

.list {
  grid-area: list;
}

.graph-unemployment {
  grid-area: graph-unemployment;
  width: 100%;
}

.map {
  grid-area: map;
  height: 100%;
  width: auto;
}
