/* header */

header video {
  z-index: 99;
  /* min-width: 100%;
  min-height: 100vh; */
  max-height: 100vh;
}

header .overlay {
  position: absolute;
  top: 0;
  background-color: red;
  height: 100vh;
  width: 100%;
}

header video {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header .overlay {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.418);
}

header .overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#myBtn {
  cursor: pointer;
}
